@import './variables/_colors.scss';

.card {
    border-radius: 6px;
    border: 1px solid var(--card-border);
    padding: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    background-color: var(--card-background);
    transition: border-color 0.15s ease-in-out;

    &:hover {
        border-color: $primary-color;
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}