// $background-color: #242424;
// $background-color-accent: #1a1a1a;
// $primary-color: #646cff;
// $secondary-color: #535bf2;

// $light-color: rgba(255, 255, 255, 0.87);


$background-color: #141434;
$background-color-accent: #0a0a1a;
$primary-color: #90a4c3;
$secondary-color: #c3a490;

$light-color: rgba(255, 255, 255, 0.87);